.container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .center {
    text-align: center;
  }
  
  .compact {
    margin-bottom: 10px;
  }
  